/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}
.my-list{
	background-color: white;
	border-radius:10px;
	height:150px;
	width:100%;
	border: 2px solid black;
	
	margin:0px 5px;
	border-radius:10px;
	
}
#song{
	background-color: white;
	list-style-type: none;
}
.my-player{
	background-color: white;
	border-radius:10px;
	border: 2px solid black;
	
	padding: 20px;
	margin:0px 50px;
	
}
.player_one, .player_two{
	background-color: rgb(255, 255, 255); 
	padding:10px ;
	border-radius:2px
	
}
#text{
	text-align: center;
}
.my-link{
	text-decoration-line: none;
	color:black;
	
}